# Add any directories, files, or patterns you don't want to be tracked by version control
**.idea/
**.DS_Store
**.pyc
**.npz
**.xlsx
**.csv
**.png
**.gz
**.ipynb_checkpoints
.vscode/
/cmake-build-debug
/FedProx
/cifar
/fashion_mnist
/cinic
/grpc_examples
/inception
/mnist
/leaf
/ner_sequence_tagging
/brainagecnn/
/projectmetis/legacy/analysis_and_plotting/*/
/projectmetis/legacy/experiments/execution_logs
/projectmetis/legacy/resources/data
/projectmetis/legacy/resources/logs
/projectmetis/legacy/resources/kerasmodels
/projectmetis/legacy/resources/plots
/tfcodetemplates
/tfmodels
/venv*
__pycache__/

bazel-*