cloudpickle>=2.2.1
fabric>=3.1.0
future>=0.18.3
grpcio>=1.54.2
numpy>=1.24.3
pandas>=2.0.2
Pebble>=5.0.3
protobuf<=3.20
pyfiglet>=0.8.post1
PyYAML>=6.0
scikit-learn>=1.2.2
scipy>=1.10.1
tensorflow>=2.0
termcolor>=2.3.0
torch>=2.0